
{% extends 'plantillas/cuerpo.html'%}

{%block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contacto.css') }}">
{%endblock%}

{%block cuerpo %}

    <div class="grid-container align-center" style="display: flex;">
        <div class="grid-x align-center">
            <div class="cell small-12 medium-6 box-form">
                <div class="form-contact">
                    <h1>Formulario de contacto</h1>
                    <form action="">
                        <label> Nombre<span class="required">*</span>
                            <input class="fields" type="text" name="name" placeholder="Juan Peréz" required>
                        </label>
                        <label> E-mail de contacto<span class="required">*</span>
                            <input class="fields" type="email" name="email" id="" placeholder="contacto@ejemplo.com" required>
                        </label>
                        <label> Asunto
                            <input class="fields" type="text" name="subject" id="" placeholder="Contización de servicio">
                        </label>
                        <label> Mensaje<span class="required">*</span>
                            <textarea name="content" required placeholder="Deseo recibir información de uno de sus servicios, en específico el desarrollo de aplicaciones móviles."></textarea>
                        </label>

                        <input class="fields" type="submit" value="Enviar">

                    </form>
                </div>
            </div>
            <div class="cell medium-6 box-form grid-y ">
                <div class="more-contact-forms">
                    <h1>Más formas de contacto</h1>

                    <div>
                        <p>Tel: 3221229023</p>
                        <p>Whatsapp: +523221229023</p>
                        <p>E-mail: contacto@azk.com</p>
                        <p>Puerto Vallarta, Jal. MX.</p>
                    </div>
                </div>
                <div class="imagen" style="background:orange;">
                  <img src="{{url_for('static', filename='imagenes/prueba3.png')}}" alt="">
                </div>
            </div>
        </div>
    </div>

{%endblock%}
