{% extends 'plantillas/cuerpo.html'%}

{%block cuerpo %}


<section class="grid-container banner-height">
	<div class="banner">
		<div class="grid-x align-middle banner-height">
			<div class="cell medium-5">
				<div class="text-banner">
					<h2>Soluciones tecnologicas</h2>
					<div class="banner-text">
						Tenemos la solución para tu negocio, enfrenta todos los obstaculos del mundo digital.
					</div>

					<button class="banner-button">Conocer más</button>
				</div>
			</div>
			<div class="cell medium-7">
				<div class="content">
					<img src="{{ url_for('static', filename='imagenes/foco.png') }}" alt="">
					<img src="{{ url_for('static', filename='imagenes/Computadora.jpg') }}" alt="">
				</div>
				<!-- <img class="image-banner" src="{{ url_for('static', filename='imagenes/banner.jpg') }}"> -->
			</div>
		</div>
	</div>
</section>

<section id="servicios" class="grid-container grid-x Services_container">
	<div class=" cell medium-5 Services_description grid-y align-center">
		<div class="Title-section">
			<span>
				<h2 id="NuestrosServicios">Servicios populares</h2>
			</span>
		</div>
		<div class="text_services">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
			irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>

	<div class=" cell medium-6 grid-x align-center grid-margin-x Services">
		<div class="cell small-6 Service">
			<div class="image-service">
				<img src="{{url_for('static', filename='imagenes/programacion.png')}}">
			</div>
			<div class="title-service">
				<h3>Diseño web</h3>
			</div>
			<div class="text-service">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<span><a href="/web_design"> Mas Informacion</a></span>
			</div>
		</div>

		<div class="cell small-6 Service">
			<div class="image-service">
				<img src="{{url_for('static', filename='imagenes/microservice.png')}}">
			</div>
			<div class="title-service">
				<h3>Microservicios</h3>
			</div>
			<div class="text-service">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<span><a href="#"> Mas Informacion</a></span>
			</div>
		</div>

		<div class="cell small-6 Service">
			<div class="image-service">
				<img src="{{url_for('static', filename='imagenes/marketing.png')}}">
			</div>
			<div class="title-service">
				<h3>Marketing</h3>
			</div>
			<div class="text-service">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<span><a href="#"> Mas Informacion</a></span>
			</div>
		</div>

		<div class="cell small-6 Service">
			<div class="image-service">
				<img src="{{url_for('static', filename='imagenes/mobile.png')}}">
			</div>
			<div class="title-service">
				<h3>Desarrollo movil</h3>
			</div>
			<div class="text-service">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<span><a href="#"> Mas Informacion </a></span>
			</div>
		</div>
	</div>
</section>

<!--<section class="portfolio">
	<div class="img-portfolio">
		<img src="{{ url_for('static', filename='imagenes/portfolio.png') }}" alt="">
	</div>
	<div class="container-text-portfolio">
		<p class="title-portfolio">Tienes algun proyecto o alguna idea?</p>
		<p class="text-portfolio">Nosotros podemos ayudarte con ese proyecto o problema que tengas</p>
	</div>
</section>-->

<section>
	<div class="paralax" style="background-image:URL('../static/imagenes/paralax.jpg')">

	</div>
</section>

<section class="grid-container grid-x align-middle benefits_section">
	<div class=" grid-y cell  medium-6 Benefits">
		<div class="medium-3 benefit-left">
			<div class="align-right grid-x">
				<h3 class="medium-10">Metodologia Rapida</h3>
				<div class="image_benefits">
					<img src="{{ url_for('static', filename='imagenes/metodologia.jpg') }}" alt="">
				</div>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="medium-3 benefit-left">
			<div class="align-right grid-x">
				<h3 class="medium-10">Soluciones tecnologicas</h3>
				<div class="image_benefits">
					<img src="{{ url_for('static', filename='imagenes/soluciones.png') }}" alt="">
				</div>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class=" medium-3 benefit-left">
			<div class="align-right grid-x">
				<h3 class="medium-10">Tecnologias apropiadas</h3>
				<div class="image_benefits">
					<img src="https://image.flaticon.com/icons/svg/993/993686.svg" alt="">
				</div>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>


	<div class=" grid-y cell medium-6 Benefits">
		<div class="medium-3 benefit-right">
			<div class="align-left grid-x">
				<div class="image_benefits">
					<img src="{{ url_for('static', filename='imagenes/optimization.png') }}" alt="">
				</div>
				<h3 class="medium-10">Optimizacion de proyectos</h3>
			</div>


			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="medium-3 benefit-right">
			<div class="align-left grid-x">
				<div class="image_benefits">
					<img src="https://image.flaticon.com/icons/svg/2706/2706962.svg" alt="">
				</div>
				<h3 class="medium-10">Asesoria personalizada</h3>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="medium-3 benefit-right">
			<div class="align-left grid-x">
				<div class="image_benefits">
					<img src="https://image.flaticon.com/icons/svg/942/942751.svg" alt="">
				</div>
				<h3 class="medium-10">Comunicacion constante</h3>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>
</section>
{%endblock%}
