{% extends 'plantillas/cuerpo.html'%}

{%block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nosotros.css') }}">
{%endblock%}

{%block cuerpo %}
<div class=" grid-container nosotros ">
  <section id="welcome">
    <div class="banner-nosotros grid-x">
      <div class="grid-y align-center medium-5 text-welcome">
        <h1> somos un equipo hambriento por desafios. </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate </p>
      </div>
      <div class="grid-y align-center medium-7 welcome-image">
        <img src="{{url_for('static', filename='imagenes/team.png')}}" alt="">
      </div>
    </div>
  </section>

  <section id="about">
    <div class=" about-container grid-x">
      <div class="grid-y align-center medium-6">
        <div class="about-us">
          <h2> ¿Como comenzamos? </h2>
          <div class="image-about-us">
            <img width="250px" src="{{ url_for('static', filename='imagenes/comienzos.png') }}" alt="Comienzo">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        </div>

      </div>
      <div class=" grid-y align-center medium-6">
        <div class="about-us">
          <h2> ¿Que ofrecemos? </h2>
          <div class="image-about-us">
            <img width="250px" src="{{ url_for('static', filename='imagenes/hacemos.png') }}" alt="Actividades">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
        </div>
      </div>
    </div>
  </section>

  <section id="choice">
    <div class="grid-x">
      <div class="grid-x align-center medium-4">
        <img id="image-choice" src="{{url_for('static', filename='imagenes/security.png')}}" alt="">
      </div>
      <div class="grid-y align-center medium-8 text-choose">
        <h1> ¿ Porque elegirnos ? </h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </p>
      </div>
    </div>
  </section>

  <!--<section id="questions">
    <div class="grid-x align-center" > 
      <div class="medium-12 text-questions">
        <h3>Preguntas frecuentes</h3>
      </div>

      <div class="grid-x container-questions medium-10">
        <div class="medium-6 question">
          <h4>hola que hace?</h4>
          <div class="answer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum molestias blanditiis amet eligendi</p>
          </div>
        </div>

        <div class="medium-6 question">
          <h4>hola que hace?</h4>
          <div class="answer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum molestias blanditiis amet eligendi</p>
          </div>
        </div>

      </div>

    </div>
  </section>-->
</div>
{%endblock%}
