{% extends 'plantillas/cuerpo.html'%}

{%block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/programacion.css') }}">
{%endblock%}

{%block cuerpo %}

<div class="grid-container"> 
    <section id="banner-programming">
        <div class="grid-x servicio">
          <div class="grid-y align-center medium-6 small-12" style="padding:10px;">
            <img class="imagen-servicio" src="{{url_for('static', filename='imagenes/programming/programming.png')}}" alt="">
          </div>
          <div class=" grid-y align-center container-text-service medium-6 small-12">
            <div class="text-service">
              <h1 class="title">Programacion</h1>
              <p> Ofrecemos la creacion de sitios web personalizados ajustandonos a las distintas necesidades que una empresa puede tener cumpliendo con los estandares tecnologicos de hoy en dia, ¡Es momento de que tu negocio entre al mundo digital y tus
                clientes puedan encontrarte donde quiera que esten!
                <br>
                <br> <span> Contactanos, ofrecemos asesoria GRATUITA ! </span>
              </p>
            </div>
          </div>
        </div>
      </section>
</div>

{%endblock%}

{%block script %}

{%endblock%}
