.nosotros{
  clear: both;
}
.welcome{
  height: 100vh;
}
.banner-nosotros, .about-container{
  height: 100%;
}
.text-welcome h1{
  font-size: 40px;
  font-family: 'Nunito';
}

.text-welcome p{
  font-family: 'Hind';
  font-size: 20px;
  padding:0 25px 0 0;
}
.welcome-image{
  text-align: center;
}
.welcome-image img{
  width: 100%;
  /*box-shadow: 5px 5px 12px 4px gray;*/
}
.about{
  margin-bottom: 30px;
  background-color: #f5f5f5;
}
.about-us{
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}
.about-us h2{
  font-size: 32px;
  text-align: center;
  font-family: 'Nunito';
}
.image-about-us{
text-align: center;
}
.about-us p{
  font-size: 18px;
  text-align: justify;
  font-family: 'Hind';
  padding: 20px;
}
.proccess-container{
  margin-bottom: 50px;
}
.process-container h2{
  font-family: 'Nunito';
  text-align: center;
  font-size: 25px;
  margin-bottom:15px ;
}
.process-container p{
  margin: 0 auto;
  width: 60%;
  text-align: center;
  font-family: 'Hind';
  font-size: 19px;
}
.methodology{
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.methodology-step{
  box-shadow:0px 3px 8px 3px #c1c1c1;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}
.methodology-step img{
  padding: 10px;
  height:130px;
}
.methodology-step h4{
  font-size: 18px;
  font-family: 'Nunito';
  text-align: left;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5px;
}
.methodology-step p{
  text-align: left;
  width: 90%;
  font-size: 16px;
  font-family: 'Hind';
}
.team{
  margin-bottom: 20px;
}
.abilities{
  margin-bottom: 50px;
}
.abilities h2{
  font-family: 'Nunito';
  text-align: center;
  font-size: 25px;
  margin-bottom:15px ;
}
.abilities p{
  margin: 0 auto;
  width: 60%;
  text-align: center;
  font-family: 'Hind';
  font-size: 19px;
}
.technology img{
  height: 130px;
  margin: 0 auto;
}
