
.servicio{
  height: 100vh;
}
.text-service{
  width: 100%;
  text-align: justify;
  background: white;
  border-radius: 5px;
  color:#393939;
}
.title{
  font-size: xxx-large;
  color:#3d885f;
  text-align:right;
  margin-right:15px;
  border-bottom: 3px solid;
}
.text-service p{
  padding: 15px;
  margin-top: -35px;
  font-family: 'Hind';
  font-size: 17px;
}
.imagen-servicio{
  border-radius: .5em;
}
.caja{
  background: white;
  margin:15px;
  border-radius: 5px;
  padding: 15px;
}

.caja img{
  background:none;
  width: 170px;
  height: 120px;
  margin-bottom: 10px;
}
.cajon{
  padding-top: 3em;
  padding-bottom: 3em;
  background: #f2f2f2;
  border-radius: 10px;
}
.atractor-servicios{
 width:850px;
 height:70px;
 text-align:center;
 background:#FBFBFB;
 margin-bottom:-2.3em;
 border-radius:3px;
}
