
.text-service{
  width: 100%;
  text-align: justify;
  background: white;
  border-radius: 5px;
  color:#393939;
}
.text-service p{
  padding: 15px;
  margin-top: -35px;
}
.imagen-servicio{
  border-radius: .5em;
}
.caja{
  background: #57c387;
  margin:15px;
  height: 260px;
  border-radius: 5px;
  padding: 15px;
}
