
.text-service{
  width: 100%;
  text-align: justify;
  background: white;
  border-radius: 5px;
  color:#393939;
}
.text-service p{
  padding: 15px;
  margin-top: -35px;
}
.imagen-servicio{
  border-radius: .5em;
}
.caja{
  background: white;
  margin:15px;
  border-radius: 5px;
  padding: 15px;
}

.caja img{
  background:none;
  width: 170px;
  height: 120px;
  margin-bottom: 10px;
}
.cajon{
  padding-top: 3em;
  padding-bottom: 3em;
  background: #DED7F6;
  border-radius: 10px;
}
