footer {
    width: 100%;
    background-color: #202020;
    border-top: 3px solid #5886c3;
    color: #FFF;
}
    .footer {
        min-height: 95px;
    }
    .copyright {
        text-align: center;
        font-size: 1em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .copyright a {
        color: #d9534f;
    }

        .heart {
            color: rgb(255, 65, 65);
        }

        .social {
            text-align: end;
        }
        .social-icon {
            display: inline;
        }
            .social-icon:hover {
                opacity: 0.8;
            }

@media screen  and (max-width: 639px) {
    .social {
        text-align: center;
    }
}
