
.servicio{
  min-height: 100vh;
}
.text-service{
  width: 100%;
  text-align: justify;
  background: white;
  border-radius: 5px;
  color:#393939;
}
.title{
  font-size: xxx-large;
  color:#3d885f;
  text-align:right;
  margin-right:15px;
  border-bottom: 3px solid;
  font-family: 'Nunito';
}
.text-service p{
  padding: 15px;
  margin-top: -35px;
  font-family: 'Hind';
  font-size: 19px;
}
.text-service span {
  color:#d9534f;
}
.imagen-servicio{
  border-radius: .5em;
}
.atractor-servicios{
 width:850px;
 height:70px;
 text-align:center;
 background:none;
 /*margin-bottom:-2.3em;*/
 border-radius:3px;
 font-family: 'Nunito';
}
@media (max-width:420px) {
  .atractor-servicios{
    margin-top: 130px;
  }
}
.container-subservices{
  padding-top: 3em;
  padding-bottom: 3em;
  background: #f2f2f2;
  border-radius: 10px;
}
.subservice{
  background:none;
  margin:15px;
  border-radius: 5px;
  padding: 15px;
  box-shadow:3px 3px 20px 0px #d6d6d6;
}
.subservice img{
  background:none;
  width: 170px;
  height: 120px;
  margin-bottom: 10px;
}
.subservice h4{
  font-family: 'Nunito';
}
.subservice p{
  font-family: 'Hind';
  color: #2f2f2f;
  text-align:justify;
}
.proccess-container{
  margin-bottom: 50px;
}
.process-container h2{
  font-family: 'Nunito';
  text-align: center;
  font-size: 25px;
  margin-bottom:15px ;
}
.process-container p{
  margin: 0 auto;
  width: 60%;
  text-align: center;
  font-family: 'Hind';
  font-size: 19px;
  color: #2f2f2f;
}
.methodology{
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.methodology-step{
  box-shadow:0px 3px 8px 3px #c1c1c1;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}
.methodology-step img{
  padding: 10px;
  height:130px;
}
.methodology-step h4{
  font-size: 18px;
  font-family: 'Nunito';
  text-align: left;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5px;
}
.methodology-step p{
  text-align: left;
  width: 90%;
  font-size: 16px;
  font-family: 'Hind';
}
.team{
  margin-bottom: 45px;
}
.abilities{
  margin-bottom: 20px;
}
.abilities h2{
  font-family: 'Nunito';
  text-align: center;
  font-size: 25px;
  margin-bottom:15px ;
}
.abilities p{
  margin: 0 auto;
  width: 60%;
  text-align: center;
  font-family: 'Hind';
  font-size: 19px;
}
.technology img{
  height: 120px;
  margin: 0 auto;
  padding: 10px;
  }
.technologies{
  background: #fafafa;
  border-radius: 5px;
}
