{% extends 'plantillas/cuerpo.html'%}

{%block cuerpo %}


<section class="grid-container banner-height">
	<div class="banner">
		<div class="grid-x align-middle banner-height">
			<div class="cell medium-6">
				<div class="text-banner">
					<h2>Soluciones tecnologicas</h2>
					<div class="banner-text">
						Tenemos la solución para tu negocio, enfrenta todos los obstaculos del mundo digital.
					</div>

					<button class="banner-button">Conocer más</button>
				</div>
			</div>
			<div class="cell medium-6">
				<img class="image-banner" src="{{ url_for('static', filename='imagenes/pc-banner.png') }}">
			</div>
		</div>
	</div>
</section>

			<section id="servicios" class="grid-x Services_container">
				<div class=" cell medium-6 Services_description grid-y align-center">
					<div class="Title-section">
						<span><h2 id="NuestrosServicios">Nuestros servicios</h2></span>
					</div>
					<div class="text_services">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>

				<div class=" cell medium-6 grid-x align-center grid-margin-x Services">
					<div class="cell small-6 Service">
						<div class="image-service">
							<img src="{{url_for('static', filename='imagenes/programacion.png')}}">
						</div>
						<div class="title-service">
							<h3>Diseño web</h3>
						</div>
						<div class="text-service">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</div>

					<div class="cell small-6 Service">
						<div class="image-service">
							<img src="{{url_for('static', filename='imagenes/software.png')}}">
						</div>
						<div class="title-service">
							<h3>Microservicios</h3>
						</div>
						<div class="text-service">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</div>

					<div class="cell small-6 Service">
						<div class="image-service">
							<img src="{{url_for('static', filename='imagenes/database.png')}}">
						</div>
						<div class="title-service">
							<h3>Base de datos</h3>
						</div>
						<div class="text-service">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</div>

					<div class="cell small-6 Service">
						<div class="image-service">
							<img src="{{url_for('static', filename='imagenes/tecnico.png')}}">
						</div>
						<div class="title-service">
							<h3>Hardware</h3>
						</div>
						<div class="text-service">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</div>



	</div>
</section>

<!--<section class="portfolio">
	<div class="img-portfolio">
		<img src="{{ url_for('static', filename='imagenes/portfolio.png') }}" alt="">
	</div>
	<div class="container-text-portfolio">
		<p class="title-portfolio">Tienes algun proyecto o alguna idea?</p>
		<p class="text-portfolio">Nosotros podemos ayudarte con ese proyecto o problema que tengas</p>
	</div>
</section>-->

<section>
	<div class="paralax" style="background-image:URL('https://cdn.pixabay.com/photo/2015/09/17/17/25/code-944499_960_720.jpg')">
	yo
	</div>
</section>

<section class=" grid-x benefits_section">
	<div class=" grid-y cell  medium-6 Benefits">
		<div class="medium-3 benefit-left">
			<div class="align-right grid-x">
				<h3 class="medium-10">Metodologia Rapida</h3>
				<div class="image_benefits">

				</div>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="medium-3 benefit-left">
			<div class="align-right grid-x">
				<h3 class="medium-10">Soluciones tecnologicas</h3>
				<div class="image_benefits">

				</div>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class=" medium-3 benefit-left">
			<div class="align-right grid-x">
				<h3 class="medium-10">Tecnologias apropiadas</h3>
				<div class="image_benefits">

				</div>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>


	<div class=" grid-y cell medium-6 Benefits">
		<div class="medium-3 benefit-right">
			<div class="align-left grid-x">
				<div class="image_benefits">

				</div>
				<h3 class="medium-10">Optimizacion de proyectos</h3>
			</div>


			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="medium-3 benefit-right">
			<div class="align-left grid-x">
				<div class="image_benefits">

				</div>
				<h3 class="medium-10">Asesoria personalizada</h3>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="medium-3 benefit-right">
			<div class="align-left grid-x">
				<div class="image_benefits">

				</div>
				<h3 class="medium-10">Comunicacion constante</h3>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>
</section>

<!--	<section class="contenedor-nosotros">
					<div class="Title-section">
						<span><h2>Sobre nosotros</h2></span>
					</div>
					<div class="nosotros">
						<div class="image-nosotros">
							<img src="{{ url_for('static', filename='imagenes/vision.png') }}" alt="">
						</div>
						<div class="text-nosotros">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
						</div>
					</div>
					<div id="centro" class="nosotros">
						<div class="image-nosotros">
							<img src="{{ url_for('static', filename='imagenes/origen.png') }}" alt="">
						</div>
						<div class="text-nosotros">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
						</div>
					</div>
					<div class="nosotros">
						<div class="image-nosotros">
							<img src="{{ url_for('static', filename='imagenes/nosotros.png') }}" alt="">
						</div>
						<div class="text-nosotros">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididsunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
						</div>
					</div>
				</section>
				-->
{%endblock%}
