{% extends 'plantillas/cuerpo.html'%}

{%block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nosotros.css') }}">
<link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
{%endblock%}

{%block cuerpo %}
<div class=" grid-container nosotros ">
  <section class="welcome">
    <div class="banner-nosotros grid-x">
      <div class="grid-y align-center medium-5 text-welcome">
        <h1> somos un equipo hambriento por desafios. </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate </p>
      </div>
      <div class="grid-y align-center medium-7 welcome-image">
        <img src="{{url_for('static', filename='imagenes/team.png')}}" alt="">
      </div>
    </div>
  </section>

  <section class="about">
    <div class=" about-container grid-x">
      <div class="grid-y align-center medium-6">
        <div class="about-us">
          <h2> ¿Como comenzamos? </h2>
          <div class="image-about-us">
            <img width="250px" src="{{ url_for('static', filename='imagenes/comienzos.png') }}" alt="Comienzo">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        </div>

      </div>
      <div class=" grid-y align-center medium-6">
        <div class="about-us">
          <h2> ¿Que hacemos? </h2>
          <div class="image-about-us">
            <img width="250px" src="{{ url_for('static', filename='imagenes/hacemos.png') }}" alt="Actividades">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
        </div>
      </div>
    </div>
  </section>

  <section class="process">
    <div class=" grid-y align-center process-container">
      <h2> ¿Como trabajamos? </h2>
      <p>En nuestro equipo de trabajo utilizamos una serie de pasos con el fin de brindar la mayor calidad-precio.</p>
      <div class="align-center grid-x methodology">
        <div class=" medium-3 methodology-step">
          <img src="{{ url_for('static', filename='imagenes/talking.svg') }}" alt="Twitter">
          <h4> Establecer la idea </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class=" medium-3 methodology-step">
          <img src="{{ url_for('static', filename='imagenes/board.svg') }}" alt="Twitter">
          <h4> Metodologia de desarrollo </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="medium-3 methodology-step">
          <img src="{{ url_for('static', filename='imagenes/programming.svg') }}" alt="Twitter">
          <h4> Desarrollo del proyecto </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="team">
    <div class="grid-y align-center abilities">
      <h2> Tenemos la herramienta correcta para ti </h2>
      <p> Nuestro equipo esta en constante actualizacion en el area de software y contamos con una amplia variedad de herramientas que pueden dar la solucion a tu problema</p>
    </div>
    <div class="technologies">
      <div class="technology">
        <img src="{{ url_for('static', filename='imagenes/technology/html.png') }}" alt="html">
      </div>
      <div class="technology">
        <img src="{{ url_for('static', filename='imagenes/technology/css.png') }}" alt="css">
      </div>
      <div class="technology">
        <img src="{{ url_for('static', filename='imagenes/technology/javascript.png') }}" alt="javascript">
      </div>
      <div class="technology">
        <img src="{{ url_for('static', filename='imagenes/technology/vuejs.png') }}" alt="vuejs">
      </div>
      <div class="technology">
        <img src="{{ url_for('static', filename='imagenes/technology/nativescript.png') }}" alt="nativescript">
      </div>
      <div class="technology">
        <img src="{{ url_for('static', filename='imagenes/technology/python.png') }}" alt="python">
      </div>
      <div class="technology">
        <img src="{{ url_for('static', filename='imagenes/technology/flask.png') }}" alt="flask">
      </div>
    </div>
  </section>
</div>


{%endblock%}

{%block script %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.technologies').slick({
      slidesToShow: 5,
      arrows:false,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 3000,
    })
  });
</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{%endblock%}
