{% extends 'plantillas/cuerpo.html'%}

{%block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/web_design.css') }}">
{%endblock%}

{%block cuerpo %}

<div class="grid-container container" style="margin-top:3em; margin-bottom:3em;">
  <div class="grid-x servicio">
    <div class="medium-6 small-12" style="padding:10px;">
      <img class="imagen-servicio" src="{{url_for('static', filename='imagenes/service-web.jpg')}}" alt="">
    </div>
    <div class=" grid-y align-center container-text-service medium-6 small-12">
      <div class="text-service">
        <h1 style="text-align:right; margin-right:15px; color:#393939;" >Web design</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
      </div>
    </div>
  </div>
</div>

{%endblock%}
