{% extends 'plantillas/cuerpo.html'%}

{%block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/web_design.css') }}">

{%endblock%}

{%block cuerpo %}
<div class="grid-container">
  <section class="banner-web">
      <div class="grid-x servicio">
        <div class="grid-y align-center medium-6 small-12" style="padding:10px;">
          <img class="imagen-servicio" src="{{url_for('static', filename='imagenes/web_design/web-design.png')}}" alt="">
        </div>
        <div class=" grid-y align-center container-text-service medium-6 small-12">
          <div class="text-service">
            <h1 class="title" style="">Desarrollo web</h1>
            <p> Ofrecemos la creacion de sitios web personalizados ajustandonos a las distintas necesidades que una empresa puede tener cumpliendo con los estandares tecnologicos de hoy en dia, ¡ Es momento de que tu negocio entre al mundo digital!.
            <br>
            <br> <span> Contactanos, ofrecemos asesoria GRATUITA ! </span>
            </p>
          </div>
        </div>
      </div>
  </section>

  <section>
    <div class="grid-x align-center-middle">
      <div class="atractor-servicios grid-x align-center-middle">
        <h2>Las herramientas adecuadas para tener el mejor sitio</h2>
      </div>
    </div>
    <div class="grid-container align-center grid-x cajon" style="margin-bottom:3em;">
      <div class="medium-3 grid-y align-center-middle caja">
        <img src="{{url_for('static', filename='imagenes/web_design/diseño.svg')}}" alt="">
        <p><b>cosas</b></p>
        <p style="color:gray; text-align:Center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
      </div>
      <div class="medium-3 grid-y align-center-middle caja">
        <img src="{{url_for('static', filename='imagenes/web_design/tecnologias.svg')}}" alt="">
        <p><b>cosas</b></p>
        <p style="color:gray; text-align:Center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
      </div>
      <div class="medium-3 grid-y align-center-middle caja">
        <img src="{{url_for('static', filename='imagenes/web_design/buscar.svg')}}" alt="">
        <p><b>cosas</b></p>
        <p style="color:gray; text-align:Center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>

      </div>
      <div class="medium-3 grid-y align-center-middle caja">
        <img src="{{url_for('static', filename='imagenes/web_design/cosa.svg')}}" alt="">
        <p><b>cosas</b></p>
        <p style="color:gray; text-align:Center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
      </div>
      <div class="medium-3 grid-y align-center-middle caja">
        <img src="{{url_for('static', filename='imagenes/web_design/responsivo.svg')}}" alt="">
        <p><b>cosas</b></p>
        <p style="color:gray; text-align:Center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
      </div>
      <div class="medium-3 grid-y align-center-middle caja">
        <img src="{{url_for('static', filename='imagenes/web_design/chica.svg')}}" alt="">
        <p><b>cosas</b></p>
        <p style="color:gray; text-align:Center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
      </div>
    </div>
  </section>

  <section>

  </section>
</div>
{%endblock%}
