<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foundation.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
		<!-- <link rel="stylesheet" type="text/css" href="../../static/css/foundation.min.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/style.css"> -->
		<link href="https://fonts.googleapis.com/css?family=Nunito|Tajawal" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oregano&display=swap" rel="stylesheet">
		<title></title>
		<!-- <script src="https://code.jquery.com/jquery-3.1.1.js"></script> -->
		<!-- <script src="https://code.jquery.com/jquery-3.2.1.js"></script> -->
		<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>


	{%block head %}

	{%endblock%}

	</head>
	<body id="body">
		<!-- <div class="container"> -->
			<header id="bar-head">
				<nav class="grid-container grid-x align-middle">
					<div class="cell small-3 medium-2">
						<div style="color: black;">
							<a href="/" title="Inicio">
								<img width="30px" src="https://upload.wikimedia.org/wikipedia/commons/6/63/Ingress_Logo.png" alt="">
							</a>
						</div>
					</div>

					<div class="cell small-9 medium-10 box-icon-menu">
						<div class="grid-x align-middle align-right">
							<button class="icon-menu"></button>
						</div>
					</div>

					<ul class=" cell medium-10 align-right">
						<li><a class="active" href="/">Inicio</a></li>
						<li><a href="#">Servicios</a>
							<ul class="list-menu">
								<li><a href="/web_design"> Diseño web </a></li>
								<li><a href="#"> Microservicios </a></li>
								<li><a href="#"> Diseño web </a></li>
								<li><a href="#"> Microservicios </a></li>
							</ul>
						</li>
						<li><a href="/nosotros">Nosotros</a></li>
						<li><a href="portafolio.html">Portafolio</a></li>
						<li><a href="/contacto" class="link-contact">Contacto</a></li>
					</ul>
				</nav>

				<!-- <div class="grid-container grid-x align-middle nav-content">
					<div class="cell medium-2 box-logo">
						<div style="color: black;">LOGO</div>
					</div>
					<div class="cell medium-10 box-nav">
						<div class="grid-x align-middle align-right">
							<div class="icon-menu"></div>
						</div>
					</div>
					<div class="cell medium-10 nav">
						<nav>
							<ul>
								<li><a class="active" href="#">Inicio</a></li>
								<li><a href="/#servicios">Servicios</a></li>
								<li><a href="tecnologias.html">Tecnologías usadas</a></li>
								<li><a href="portafolio.html">Portafolio</a></li>
								<li><a href="contactó.html">Contacto</a></li>
							</ul>
						</nav>
					</div>
				</div> -->
			</header>
      {%block cuerpo %}

	  {%endblock%}

	  <footer>
		<div class="grid-container">
			<div class="grid-x align-middle footer">
				<div class="cell medium-4"></div>
				<div class="cell medium-4">
					<div class="copyright text-center">
						<p class="text-center">Soluciones © 2020, sitio hecho con <span class="heart" title="amor">♥️</span> por <a href="#">Soluciones</a>.</p>
					</div>
				</div>
				<div class="cell medium-4 text-right">
					<div class="social">
						<div class="social-icon">
							<a href="#">
								<img width="30px" src="{{ url_for('static', filename='imagenes/social/fb.svg') }}" alt="Facebook">
							</a>
						</div>
						<div class="social-icon">
							<a href="#">
								<img width="30px" src="{{ url_for('static', filename='imagenes/social/tw.svg') }}" alt="Twitter">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			// Scroll bar
			let barfloat = false;
			let head = document.getElementById("bar-head");
			let body = document.getElementById("body");
			let list_menu = document.getElementById("list-menu")

			window.onscroll = (evt) => {
				if(!barfloat && document.documentElement.scrollTop >= window.screen.height-117) {
					head.classList.toggle('h-scroll');
					body.classList.toggle('margin-header');
					barfloat = true;
				}

				if(barfloat && document.documentElement.scrollTop <= window.screen.height-117) {
					head.classList.toggle('h-scroll')
					body.classList.toggle('margin-header');
					barfloat = false;
				}
			}
		</script>
	  </footer>
    </body>
  </html>
